.notifi {
    position: fixed;
    top: 1rem;
    right: 2rem;
}

.notification {
    /* display: block; */
    background-color: white;
    /* border: 1px solid; */
    outline: 1px solid gray;
    z-index: 1;
    border-radius: 2px;
}

.toast-header {
    padding: 0rem .5rem;
    background-color: #ffeb00c2;
}

.pagination {
    padding-top: 25px;
    text-align: center !important;
    justify-content: center;
}

.pagination li {
    text-align: center !important;
    margin: 0px .2rem;
}

.page-item.active .page-link {
    border-color: #111111;
    color: black !important;
    background: transparent;
}

.pagination .page-link {
    display: inline-block !important;
    font-size: 16px;
    font-weight: 700;
    color: #111111;
    height: 30px;
    width: 30px;
    border-radius: 50% !important;
    line-height: 30px;
    text-align: center;
    align-items: center;
    padding: 0;

}

.pagination li.active {
    border-color: #111111;
}

.pagination li:hover {
    border-color: #111111;
}

.category {
    color: gray !important;
}

.category:hover,
.category:focus {
    text-decoration: none;
    outline: none;
    color: black !important;
}

.error {
    margin-top: -14px;
    color: red !important;
}